################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SportsTracker/.vs/ProjectEvaluation/sportstracker.projects.v7.bin
/SportsTracker/.vs/ProjectEvaluation/sportstracker.metadata.v7.bin
/SportsTracker/.vs/SportsTracker/DesignTimeBuild/.dtbcache.v2
/SportsTracker/.vs/SportsTracker/FileContentIndex/11beb1bd-6a87-4b66-b938-a6575d2a47d5.vsidx
/SportsTracker/.vs/SportsTracker/FileContentIndex/2622a31d-fb6b-49b7-aa72-99546cf16900.vsidx
/SportsTracker/.vs/SportsTracker/FileContentIndex/330e93eb-d92e-487d-b727-20181f1b3d37.vsidx
/SportsTracker/.vs/SportsTracker/FileContentIndex/4570f161-fdae-47a9-97cb-3f208fbbe5a5.vsidx
/SportsTracker/.vs/SportsTracker/FileContentIndex/4cc33241-1021-4495-9449-1ce758407bc5.vsidx
/SportsTracker/.vs/SportsTracker/FileContentIndex/5ccaaf7d-79a9-41ef-afb0-18e51eb08cd2.vsidx
/SportsTracker/.vs/SportsTracker/FileContentIndex/87d06f3c-0660-48ef-acca-acbeb4d412d3.vsidx
/SportsTracker/.vs/SportsTracker/FileContentIndex/c8898871-4373-4259-a001-0e5d00a4b802.vsidx
/SportsTracker/WebSite/bin/Debug/net7.0/WebSite.dll
/SportsTracker/WebSite/bin/Debug/net7.0/WebSite.exe
/SportsTracker/WebSite/bin/Debug/net7.0/WebSite.pdb
/SportsTracker/WebSite/bin/Debug/net7.0/WebSite.staticwebassets.runtime.json
/SportsTracker/WebSite/obj/Debug/net7.0/ref/WebSite.dll
/SportsTracker/WebSite/obj/Debug/net7.0/refint/WebSite.dll
/SportsTracker/WebSite/obj/Debug/net7.0/apphost.exe
/SportsTracker/WebSite/obj/Debug/net7.0/project.razor.vs.json
/SportsTracker/WebSite/obj/Debug/net7.0/staticwebassets.build.json
/SportsTracker/WebSite/obj/Debug/net7.0/staticwebassets.development.json
/SportsTracker/WebSite/obj/Debug/net7.0/staticwebassets.pack.json
/SportsTracker/WebSite/obj/Debug/net7.0/WebSite.assets.cache
/SportsTracker/WebSite/obj/Debug/net7.0/WebSite.csproj.AssemblyReference.cache
/SportsTracker/WebSite/obj/Debug/net7.0/WebSite.csproj.CoreCompileInputs.cache
/SportsTracker/WebSite/obj/Debug/net7.0/WebSite.csproj.FileListAbsolute.txt
/SportsTracker/WebSite/obj/Debug/net7.0/WebSite.dll
/SportsTracker/WebSite/obj/Debug/net7.0/WebSite.GeneratedMSBuildEditorConfig.editorconfig
/SportsTracker/WebSite/obj/Debug/net7.0/WebSite.genruntimeconfig.cache
/SportsTracker/WebSite/obj/Debug/net7.0/WebSite.pdb
/SportsTracker/WebSite/obj/project.assets.json
/SportsTracker/WebSite/obj/project.nuget.cache
/SportsTracker/WebSite/obj/WebSite.csproj.nuget.dgspec.json
/SportsTracker/WebSite/obj/WebSite.csproj.nuget.g.props
/SportsTracker/.vs/SportsTracker/v17/.futdcache.v2
/SportsTracker/.vs/SportsTracker/v17/.suo
*.vsidx
