body{
    background-image: url('./Images/websitebackground.png');
    background-size:cover;
    background-position: fill;
    background-repeat: no-repeat;
 }

.top-left-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: auto;
}