/*background position and size*/
body {
    background-image: url('/Images/websitebackground.png');
    background-size: cover;
    background-position: fill;
    background-repeat: no-repeat;
}

/*logo image position and size*/
.top-left-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: auto;
}

/* navbar background color */
.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    background-color: #00000071 !important;
}

/*navbar text colour*/
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

    /*colour of navbar text when hovering*/
    .navbar-dark .navbar-nav .nav-link:hover {
        color: #b9b309;
    }

/*navbar text colour*/
.navbar-dark .navbar-toggler-icon {
    background-color: #ffffff;
}

.bg-dark {
    background-color: #b9b309;
}

/*colour of navbar text when hovering*/
.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: #b9b309;
}

/*carousel image sizes and positioning*/

.carousel-item {
    position: relative;
    height: 80vh;
}

.carousel-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.carousel-item img {
    width: 800px;
    height: 500px;
    object-fit: cover;
}

.carousel-item.active img {
    display: block;
}

button.OurScore {
    background-color: #ffffff
}

button.TheirScore {
background-color: #ffffff
}`

h2.OurScore {
    color:#ffffff
}

h2.TheirScore {
    color:#ffffff
}

h2.TheirScore {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding-right: 10px;
}

input.TheirScore {
    background-color: #ffffff;
    margin-left: 10px;
    vertical-align: middle;
    width: 75px;
}

h2.OurScore {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding-right: 10px;
}

input.OurScore {
    background-color: #ffffff;
    margin-left: 10px;
    vertical-align: middle;
    width: 75px;
}

div.carousel-caption a {
    color: #fff;
    font-size: large;
}

div.heading {
    width:90%;
    text-align: center;
}

div.scoring {
    width: 90%;
    display: table;
    clear: both;
}

div.ourScore {
    width: 40%;
    float: left;
    text-align: center;
    background-color: lightgrey;
    border: 5px groove black;
    margin-left:10%;
}

div.theirScore {
    width: 40%;
    float: left;
    text-align: center;
    background-color: lightgrey;
    border: 5px groove black;
    margin-left: 10%;
}

div.box {
    width: 90%;
    margin: auto;
}

div.timer p {
    background-color: lightgrey;
    border: 5px groove black;
}